# Byte-compiled / optimized files
*.py[co]

# Editor cruft
.idea/
.vscode/
*.sublime-*

# Unit tests & reports
.pytest_cache/
.test_cache/
htmlcov/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
*.py,cover

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# mkdocs
site/

# Log file
hanno.log

# Personal files
scratch/
