# Python Cruft
*.py[co]
.venv/

# Editor cruft
.idea/
.vscode/
*.sublime-*

# Tool cruft
.pytest_cache/
.test_cache/
htmlcov/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
*.py,cover
.mypy_cache/
.dmypy.json
dmypy.json
tasks.py
site/

# Personal files
scratch/
hanno.log

# App Cruft
*.livy