[MASTER]
jobs=0
limit-inference-results=100
persistent=yes
suggestion-mode=yes
unsafe-load-any-extention=no

[MESSAGES CONTROL]
disable=C0114, W0511, C0328, W0612, R0903

[REPORTS]
evaluation=10.0 - (((5 * ((4 * error) + (2 * warning) + refactor + (0.5 * convention))) / statement) * 10)
output-format=colorized

[REFACTORING]
max-nested-blocks=5
never-returning-functions=exit,quit,sys.exit

[BASIC]
argument-naming-style=snake_case
attr-naming-style=snake_case
class-attribute-naming-style=snake_case
class-naming-style=PascalCase
const-naming-style=UPPER_CASE
docstring-min-length=3
function-naming-style=snake_case
include-naming-hint=yes
inline-naming-style=snake_case
method-naming-style=snake_case
method-rgx=_?\w{2,}
module-naming-style=snake_case
variable-naming-style=snake_case
variable-rgx=\w+

[FORMAT]
expected-line-ending-format=LF
indent-after-paren=4
indent-string="    "
max-line-length=88
max-module-lines=1000
single-line-class-stmt=no
single-line-if-stmt=no

[LOGGING]
logging-modules=logging

[MISCELLANEOUS]
notes=FIXME, BUG, NOTE, TODO, TODOC

[SIMILARITIES]
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=yes
min-similarity-lines=3

[STRING]
check-quote-consistency=yes

[TYPECHECK]
ignore-on-opaque-inference=yes
missing-member-hint=yes
missing-member-hint-distance=8
missing-member-max-choices=4

[VARIABLES]
allow-global-unused-variables=no
dummy-variables-rgx=_+
init-import=yes

[CLASSES]
defining-attr-methods=__init__, __new__, build, set_up
valid-classmethod-first-arg=cls
valid-metaclass-classmethod-first-arg=cls

[DESIGN]
max-args=7
max-attributes=10
max-bool-expr=4
max-branches=7
max-parents=5
max-locals=10
max-public-methods=10
max-returns=7
max-statements=20
min-public-methods=2
